<section>

  <title>a Button</title>

  <subtitle>
    the class to use is <pre>.button</pre>
  </subtitle>

  <description>
    Lorem ipsum <pre>dolor</pre>  sit amet, <a href="somewhere">consectetur adipiscing elit</a>.
  </description>

  <example>

    <component name="button-x">

      <div class="button-x">click me</div>

    </component>

  </example>

</section>











<section>

  <title>a Red Button and a Blue Button</title>

  <subtitle>
    the classes to use are <pre>.button--red</pre> and <pre>.button--blue</pre>
  </subtitle>

  <description>
    Lorem ipsum <pre>dolor</pre>  sit amet, <a href="somewhere">consectetur adipiscing elit</a>.
  </description>

  <example>

    <component name="button-x--red">

      <div class="button-x button-x--red">click me</div>

    </component>

    <div class="some-random-div">just a random div</div>
    <br>

    <component name="button-x--blue">

      <div class="button-x button-x--blue">click me</div>

    </component>

  </example>

</section>