<section>

  <title>a Button</title>

  <subtitle>
    the class to use is <pre>.button-y</pre>
  </subtitle>

  <description>
    Lorem ipsum <pre>dolor</pre>  sit amet, <a href="somewhere">consectetur adipiscing elit</a>.
  </description>

  <example>
    <!-- hbs partial -->
    {{> button-x}}
    <!-- hbs partial -->

    <component name="button-y">

      <div class="button-y">click me</div>

    </component>

  </example>

</section>

<section>

  <title>a Red Button and a Blue Button</title>

  <subtitle>
    the classes to use are <pre>.button-y--red</pre> and <pre>.button-y--blue</pre>
  </subtitle>

  <description>
    Lorem ipsum <pre>dolor</pre>  sit amet, <a href="somewhere">consectetur adipiscing elit</a>.
  </description>

  <example>

    <component name="button-y--red">

      <div class="button-y button-y--red">click me</div>

    </component>

    <div class="some-random-div">just a random div</div>
    <br>

    <component name="button-y--blue">

      <div class="button-y button-y--blue">click me</div>

    </component>

  </example>

</section>