<!-- some-section -->
<p>
  Copywriting Guidelines

  In order to improve cross team collaboration, the copywriting guidelines have been
  moved to. This means they can now be updated, used and viewed by all PeopleDoc departments.

  Please note - you will need to be logged in with your PeopleDoc email account
  to view the documentation.
</p>
<!-- some-section -->